
Features/TurnUndead.js
Features/TurnUndead_ActorUpdate.js
Features/TurnUndead_Cub_Condition.js
Spells/Level 1/MagicMissile-Crymic.js
Spells/Level 1/MagicMissile.js
Spells/Level 1/MagicMissileAnimation.js
Spells/Level 1/RandomMagicMissileAnimation.js
Spells/Level 1/Sleep.js
Spells/Level 1/Tashas Caustic Brew.js
Spells/Level 1/WitchBolt.js
Spells/Level 2/Chaos Bolt.js
Spells/Level 2/fvtt-Item-Chaos_Bolt.json
